
@{
    ViewBag.Title = "WrongPswrd";
}
<br />
<h2 style="color:red;font-family:Arial">Wrong Password or Email!</h2>
<br>
<br />
<h3 style="font-family:Arial">You are not allowed to use Administrator permission! </h3>
<br>
<br>

<p>Did you forget your password?  Please contact the developers </p>

